<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.BrowsingHistoryMapper" >

  <resultMap type="BrowsingHistory" id="BrowsingHistoryResult">
    <result property="id"    column="id"    />
    <result property="userId"    column="user_id"    />
    <result property="articleId"    column="article_id"    />
    <result property="delFlag"    column="del_flag"    />
    <result property="createBy"    column="create_by"    />
    <result property="createTime"    column="create_time"    />
    <result property="updateBy"    column="update_by"    />
    <result property="updateTime"    column="update_time"    />
    <result property="remark"    column="remark"    />
  </resultMap>

  <sql id="selectBrowsingHistoryVo">
    select id, user_id, article_id, del_flag, create_by, create_time, update_by, update_time, remark from browsing_history
  </sql>

  <select id="selectBrowsingHistoryList" parameterType="BrowsingHistory" resultMap="BrowsingHistoryResult">
    <include refid="selectBrowsingHistoryVo"/>
    <where>
      <if test="userId != null "> and user_id = #{userId}</if>
      <if test="articleId != null "> and article_id = #{articleId}</if>
    </where>
  </select>

  <select id="selectBrowsingHistoryById" parameterType="Long" resultMap="BrowsingHistoryResult">
    <include refid="selectBrowsingHistoryVo"/>
    where id = #{id}
  </select>

  <insert id="insertBrowsingHistory" parameterType="BrowsingHistory">
    insert into browsing_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="userId != null">user_id,</if>
      <if test="articleId != null">article_id,</if>
      <if test="delFlag != null">del_flag,</if>
      <if test="createBy != null">create_by,</if>
      <if test="createTime != null">create_time,</if>
      <if test="updateBy != null">update_by,</if>
      <if test="updateTime != null">update_time,</if>
      <if test="remark != null">remark,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id},</if>
      <if test="userId != null">#{userId},</if>
      <if test="articleId != null">#{articleId},</if>
      <if test="delFlag != null">#{delFlag},</if>
      <if test="createBy != null">#{createBy},</if>
      <if test="createTime != null">#{createTime},</if>
      <if test="updateBy != null">#{updateBy},</if>
      <if test="updateTime != null">#{updateTime},</if>
      <if test="remark != null">#{remark},</if>
    </trim>
  </insert>

  <update id="updateBrowsingHistory" parameterType="BrowsingHistory">
    update browsing_history
    <trim prefix="SET" suffixOverrides=",">
      <if test="userId != null">user_id = #{userId},</if>
      <if test="articleId != null">article_id = #{articleId},</if>
      <if test="delFlag != null">del_flag = #{delFlag},</if>
      <if test="createBy != null">create_by = #{createBy},</if>
      <if test="createTime != null">create_time = #{createTime},</if>
      <if test="updateBy != null">update_by = #{updateBy},</if>
      <if test="updateTime != null">update_time = #{updateTime},</if>
      <if test="remark != null">remark = #{remark},</if>
    </trim>
    where id = #{id}
  </update>

  <update id="deleteBrowsingHistoryById" parameterType="Long">
    update browsing_history set del_flag = '2' where id = #{id}
  </update>

  <update id="deleteBrowsingHistoryByIds" parameterType="String">
    update browsing_history set del_flag = '2' where id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </update>

</mapper>