<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.CommentMapper">
    <resultMap type="Comment" id="CommentResult">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="commentContent" column="comment_content"/>
        <result property="articleId" column="article_id"/>
        <result property="userId" column="user_id"/>
        <result property="replyUserId" column="reply_user_id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <association property="article" javaType="Article">
            <result property="id"    column="article_id"    />
            <result property="title"    column="title"    />
        </association>
        <association property="sysUser" javaType="SysUser">
            <result property="id"    column="user_id"    />
            <result property="nickname"    column="nickname"    />
        </association>
        <association property="replySysUser" javaType="SysUser">
            <result property="id"    column="reply_user_id"    />
            <result property="nickname"    column="reply_nickname"    />
        </association>
    </resultMap>

    <sql id="selectCommentVo">
        select c.id,
               c.parent_id,
               c.comment_content,
               c.article_id,
               c.user_id,
               c.reply_user_id,
               c.del_flag,
               c.create_by,
               c.create_time,
               c.update_by,
               c.update_time,
               c.remark,
               u1.nickname,
               u2.nickname reply_nickname,
               a.title
        from comment c
                 left join sys_user u1 on c.user_id = u1.id
                 left join sys_user u2 on c.reply_user_id = u2.id
                 left join article a on a.id = c.article_id
    </sql>

    <select id="selectCommentList" parameterType="Comment" resultMap="CommentResult">
        <include refid="selectCommentVo"/>
        <where>
            c.del_flag = '0'
            <if test="parentId != null ">and c.parent_id = #{parentId}</if>
            <if test="ids != null ">
                and c.parent_id in
                <foreach item="id" collection="ids" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="commentContent != null  and commentContent != ''">and c.comment_content like concat('%',#{commentContent},'%')</if>
            <if test="title != null  and title != ''">and a.title like concat('%',#{title},'%')</if>
            <if test="nickname != null  and nickname != ''">and u1.nickname like concat('%',#{nickname},'%')</if>
            <if test="articleId != null ">and c.article_id = #{articleId}</if>
            <if test="userId != null ">and c.user_id = #{userId}</if>
            <if test="replyUserId != null ">and c.reply_user_id = #{replyUserId}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectCommentById" parameterType="Long" resultMap="CommentResult">
        <include refid="selectCommentVo"/>
        where c.id = #{id}
    </select>

    <insert id="insertComment" parameterType="Comment" useGeneratedKeys="true" keyProperty="id">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="commentContent != null">comment_content,</if>
            <if test="articleId != null">article_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="replyUserId != null">reply_user_id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="commentContent != null">#{commentContent},</if>
            <if test="articleId != null">#{articleId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="replyUserId != null">#{replyUserId},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateComment" parameterType="Comment">
        update comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="commentContent != null">comment_content = #{commentContent},</if>
            <if test="articleId != null">article_id = #{articleId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="replyUserId != null">reply_user_id = #{replyUserId},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCommentById" parameterType="Long">
        update
        comment set del_flag = '2'
        where id = #{id} or parent_id = #{id}
    </delete>

    <delete id="deleteCommentByIds" parameterType="String">
        update
        comment set del_flag = '2' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
        or parent_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


</mapper>